body {
  background-color: aliceblue;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body * {
  box-sizing: inherit;
}

#popup-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: none;
}

#popup-box {
  width: 30em;
  height: 30em;
  background-color: aliceblue;
  border-radius: 12%;
  box-shadow: 1px 1px 20px -10px navy;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2.5em;
}

#popup-close-btn {
  flex: 0;
  text-align: right;
  font-size: larger;
  font-weight: bold;
  /* background-color: aquamarine; */
}

#popup-content {
  flex: 1;
  /* background-color: aqua; */
}

#controls-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 20px -10px navy;
}

h1 {
  text-align: center;
}

#board-container {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-height: 70vh; */
}

#gameboard {
  height: 27em;
  width: 27em;
  display: flex;
  flex-direction: column;
}

#gameboard>div {
  flex: 1;
  display: flex;
}

.cells {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

#cell-1, #cell-2, #cell-4, #cell-5, #cell-7, #cell-8 {
  border-right: 1px solid black;
}

#cell-2, #cell-3, #cell-5, #cell-6, #cell-8, #cell-9 {
  border-left: 1px solid black;
}

#cell-1, #cell-2, #cell-3, #cell-4, #cell-5, #cell-6 {
  border-bottom: 1px solid black;
}

#cell-4, #cell-5, #cell-6, #cell-7, #cell-8, #cell-9 {
  border-top: 1px solid black;
}
